{% extends 'base.html' %}

{% block title %} 恐惧伴随着惊悚 {% endblock %}

{% block content %}
<div class="modal-body">
    <form class="form-group" name="reg_form" id="reg_form" action="">
        <div class="form-group">
            <label for="username">用户名</label>
            <input class="form-control" name="username" id="username" type="text" placeholder="6-15位字母或数字" required>
        </div>
        <div class="form-group">
            <label for="password">密码</label>
            <input class="form-control" type="password" name="password" id="password" placeholder="至少6位字母或数字">
        </div>
        <div class="form-group">
            <label for="re_password">再次输入密码</label>
            <input class="form-control" type="password" name="re_password" id="re_password" placeholder="至少6位字母或数字">
        </div>
        <div class="form-group">
            <label for="">邮箱</label>
            <input class="form-control" type="email" name="email" id="email" placeholder="例如:xxxx@123.com">
        </div>
        <div class="text-right">
            <a href="javascript:void(0);" id="u_register">开始注册</a>
            <a>不注册了</a>
        </div>
        <a href="/login">已有账号？点我登录</a>
    </form>
</div>
{% endblock %}
{% block morejs %}
<script>
    $(document).ready(function () {

        $('#u_register').click(function () {
            var data = {};
            var t = $('#reg_form').serializeArray();
            //t的值为[{name: "a1", value: "xx"},
            //{name: "a2", value: "xx"}...]
            $.each(t, function () {
                data[this.name] = this.value;
            });
            axios.post('/u/register',data)
            .then(res=>{
                console.log(res)
            })
            .catch(err=>{
                console.log(err)
            })
            
        })
    })
</script>
{% endblock %}